$black: #000;
$accent: #f51b1b;
$white: #fff;

$font-family: 'TT Commons', sans-serif;
$second-family: 'Redcollar', sans-serif;
$font-base: 16px;

$z-index--100: 100;
$z-index--200: 200;
$z-index--300: 300;
$z-index--400: 400;
$z-index--500: 500;
$z-index--modal: 1000;
$z-index--highest: 2000;

// breakpoints
$mobile: 576px;
$tablet-m: 743px;
$tablet: 992px;
$tablet-lg: 1180px;
$desktop: 1440px;
